<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About Project Med-Store</h1>
            <h3>What is Med-Store?</h3>
            <hr>
            <p>
              <strong class="text-danger">Med-Store</strong> and its documentation
              <a href="/register">sign up</a>.
            </p>
            <p>
              A paragraph.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>1.</li>
              <li>2.</li>
              <li>3.</li>
              <li>4.</li>
              <li>5.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>