<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About Project Med-Store</h1>
            <h3>What is Med-Store?</h3>
            <hr>
            <p>
              <strong class="text-danger">Online Medical Booking Store</strong> is an online web application developed to tend to the needs of patients and customers who are looking to buy medicines online.
            </p>
            <p>
              We have ensured that customers have the best online experience where they can surf through a wide variety of medicines for the best price and can also interact with the administrator to resolve all their queries/doubts/feedback, just like in a pharmacy.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>
                System Administrator
                <ol>
                  <li>Can create/edit/delete medicines into the system.</li>
                  <li>Can view customer messages and send their reply.</li>
                  <li>Can generate a sales report of a particular time frame.</li>
                  <li>Can delete any customer account from the system.</li>
                </ol>
              </li>
              <li>Guest
                <ol>
                  <li>Can view About Us page.</li>
                  <li>Can view all the medicines available.</li>
                  <li>Can Login/Sign Up into the system.</li>
                  <li>Cannot place an order.</li>
                  <li>Cannot post a feedback message for any medicine.</li>
                </ol>
              </li>
              <li>Customer
                <ol>
                  <li>By default Customer will have all the functionalities of Guest.</li>
                  <li>Can view medicines and add them to shopping cart.</li>
                  <li>Can proceed to payment after adding medicines into the shopping cart.</li>
                  <li>Can Log out of the system.</li>
                </ol>
              </li>
              <li>Payment
                <ol>
                  <li>Customer has to enter the credit card details in order to make the payment.</li>
                  <li>The system will not remember the credit card details entered by the customer.</li>
                  <li>The payment receipt will be emailed to the customer’s registered email id.</li>
                </ol>
              </li>
              <li>Shopping Cart
                <ol>
                  <li>The customer can Add/Delete items in the shopping cart.</li>
                  <li>The customer can proceed to payment after finalizing their shopping cart.</li>
                </ol>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>