<% include ../partials/header %>

  <div class="container mt-4">    
    <div class="row">
      <div class="col">
      </div>
      <div class="col-12 col-sm-12 col-lg-9">
        <div class="card shadow border-0">          
          <div class="card-body">
            <h1 class="text-center">Add Medicine</h1>
            <p>
              <small class="text-muted">Fields marked * are required.</small>
            </p>
            <form action="/home" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
              <div class="form-group">
                <label for="">Name*</label>
                <input type="text" class="form-control" name="medicine[name]" placeholder="Name" required>
                <div class="invalid-feedback">
                  Please provide a Medicine name.
                </div>
              </div>
              <div class="form-group">
                <label for="">Price*</label>
                <input type="number" class="form-control" name="medicine[price]" placeholder="Price" min="1" step="1" required>
                <div class="invalid-feedback">
                  Please provide a price.
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" name="image" accept="image/*" class="custom-file-input" id="image" aria-describedby="inputGroupFileAddon01"
                    required>
                  <div class="invalid-feedback">
                    Please upload an image of Medicine.
                  </div>
                  <label class="custom-file-label" for="inputGroupFile01">Image*</label>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Description*</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="medicine[description]" rows="3" required></textarea>
                <div class="invalid-feedback">
                  Please provide a description of medicine.
                </div>
              </div>
              <div class="form-group">
                <label for="">Quantity*</label>
                <input type="number" class="form-control" name="medicine[quantity]" placeholder="10" required>
                <div class="invalid-feedback">
                  Please provide a valid quantity.
                </div>
              </div>
              <div class="form-group">
                <label for="">Amenities separated by commas</label>
                <input type="text" class="form-control" name="medicine[tags]" placeholder="Example: paracetamol, aspirin, other chemicals">
              </div>
              <button type="submit" class="btn btn-danger btn-block">Submit</button>
            </form>
            <a class="btn btn-link" href="/home">Go Back</a>
          </div>

        </div>

      </div>
      <div class="col">

      </div>
    </div>

  </div>

  <% include ../partials/footer %>